<div {{action "selectFeed" controller}} {{bind-attr id="id"}} class="feed">
    <div {{bind-attr class=":feed-info-wrap :table-row isSelected:feed-selected"}}>
        <div class="col-xs-12 col-sm-3 table-cell-col">
            <div class="large-data-highlight">
                <span class="value-percent">{{humiditPercentage}}</span>
                <span class="size-indicator-wrap">
                <span class="size-indicator" {{bind-attr style="indicatorStyle"}}></span>
            </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 table-cell-col">
            <div class="stream-detail">
                <h3>{{unbound title}}</h3>
                <p>Last updated - {{unbound date-from-now updated}}</p>
                <p>{{unbound description}}</p>
                <p>{{unbound creator}}</p>
            </div>
        </div>
    </div>
</div>